* {
	margin: 0;
	padding: 0;
	border: 0;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;	
}

:root {
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	--bg-primary-color: #1e232b;
	--bg-secondary-color: #3b3f46;
	--header-bg-primary-color: #f8a404;
	--text-primary-color: whitesmoke;
	--text-secondary-color: #3b3f46;
	--button-primary-color: var(--header-bg-primary-color);
	--button-secondary-color: #fcb736;
	
}

body {
	/* color: #f2ede9; */
	/* color: #242322; */
	/* background-color: #FFAE42; */
	color: whitesmoke;
	background-color: #1E2328;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: #F3D643;
}

 ::-webkit-scrollbar-thumb:hover{
	background-color: #F1DC73;

}

main {
	margin-left: 5rem;
}

.navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: var(--bg-secondary-color);
	transition: width 100ms ease;
}

.navbar:hover {
	width: 15rem;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	width: 100%;
}

.nav-item:hover {
	background-color: #606369;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
	margin-left: 1.5rem;
}

.nav-item:first-child span{
	margin-left: 1.1rem;
}

.nav-item:nth-child(3) span {
	margin-left: 1.55rem;
}

.nav-item:last-child {
	margin-top: auto;
}

.link-text {
	display: none;
	margin-left: 1.5rem;
	text-transform: uppercase;
}

.navbar:hover .link-text {
	display:inline;
}

section p {
	margin: 1rem;
}

main.faq {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

main.faq h1 {
	font-size: 3rem;
	flex: 1;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
}

main.faq div.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main.faq div.header img {
	width: 100%;
	max-height: auto;
}

main.faq div.header {
	overflow: hidden;
}

main>section.preview {
	height: 100vh;
	background-color: var(--header-bg-primary-color);
	display: flex;
	flex-basis: 0;
}

main>section.preview div {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

main>section.preview > div h1 {
	align-items: center;
	font-size: 2rem;
}

main>section.preview  div.carousel {
	overflow: hidden;
	position: relative;
	margin-right: 2rem;
	width: 50%;
	display: flex;
}

main>section.preview  div.carousel-images {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

main>section.preview  img {
	display: none;
	width: 500px;
	height: 500px;
	justify-content: center;
	transform: translateX(0);
	border-radius: 20%;
}

main>section.preview  .carousel-button-previous, 
main>section.preview  .carousel-button-next {
	background-color: var(--header-bg-primary-color);
	font-size: 2rem;
}

main>section.preview  .carousel-button-previous:hover, 
main>section.preview  .carousel-button-next:hover {
	color: var(--text-primary-color);
}

main section.faq {
	height: 100vh;
	background-color: var(--bg-primary-color);
	display: flex;
	flex-direction: column;
}

main section.faq div.content {
	align-items: center;
	justify-content: center;
}

header {
	width: auto;
	margin: 0;
	background-color: var(--bg-primary-color);
	padding-left: 1rem;
	height: 100vh;
	display:flex;
}

header img {
	/* transform: scale(1.5, 1.5); */
	margin-top: 1rem;
	margin-left: 1rem;
}

header div {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

header section {
	flex-grow: 1;
	display: flex;
	align-items:center;
	justify-content: center;
}

header section div {
	border-bottom: 1px solid white;
	padding-bottom: 1rem;
	text-transform: uppercase;
	max-width:75%;
}

header section div h1 {
	font-size: 3rem;
}

div.header {
	width: 100%;
	margin: 0;
	height: 35vh;
	background-color: var(--bg-secondary-color);
}

.accordion-button, 
.accordion-button-active {
	display: block;
	width: 100%;
	padding: 1rem;
	border:none;
	outline:none;
	cursor:pointer;
	text-align:left;
	background: var(--header-bg-primary-color);
	transition: background 200ms;
	font-size: 1.25rem;
}

.accordion-button::after,
.accordion-button-active::after
{
	content: '\25be';
	float: right;
	transform: scale(1.5);
}

.accordion-button:hover {
	background: var(--button-secondary-color);
}

.accordion-button-active {
	background: var(--button-secondary-color);
}

.accordion-button-active::after {
	content: "\25b4";
}

.accordion-button-content,
.accordion-button-content-active
{
	transition: max-height 250ms;

	background: #232427;
	/* display: none; */
	max-height:0;
	overflow: hidden;
}

.accordion-button-content-active {
	transition: max-height 200ms;
}

.accordion-button-content p {
	padding: 1rem;
}
